.body {
  text-align: center;
 

}

@media screen and (max-device-width: 500px) {

  .container {
      margin: 0 auto;
      width: 150vw;
  }

  .info {
      display: flex;
      flex-direction: column;
      align-items: center;
  }
}

@media screen and (max-width: 780px) {
  .info {
      flex-direction: column;
      align-items: center;
  }
}